---
import Star from "./Star.astro";

const { name, description, owner, stargazers_count, html_url } = Astro.props;

const avatarUrl = new URL(owner.avatar_url);
avatarUrl.searchParams.set("size", "64");
---

<a href={html_url}>
    <div class="author">
        <img src={avatarUrl.toString()} />
        <span>{owner.login}</span>
    </div>

    <h3>{name}</h3>
    <span>{description}</span>

    <!-- TODO: add language and forks. Align to right? -->

    <div class="stars">
        <Star />
        <span>{stargazers_count}</span>
    </div>

    <style>
        a {
            all: unset;
            cursor: pointer;

            position: relative;
            /*         
        add to thing 
        */
            background: #333947;
            border: 1px solid var(--accent);
            padding: 1em;
            border-radius: 6px;
            display: grid;

            /*             
        change this. 
        */
            transition:
                200ms box-shadow cubic-bezier(0.25, 0.8, 0.25, 1),
                200ms background;
        }

        /*         
    I'm so bad at colours its so funny.
    come back when I have a brain.
    */
        a:is(:hover, :active) {
            box-shadow:
                0 8px 15px rgba(0, 0, 0, 0.25),
                0 6px 6px rgba(0, 0, 0, 0.22);
            background: var(--socials-background);
        }

        h3 {
            margin: 0;
            font-weight: bold;
        }
        span {
            font-size: 0.9em;
        }
        .author,
        .info,
        .stars {
            display: flex;
        }

        .author img {
            width: 1.5em;
            height: 1.5em;
            border-radius: 65%;
            margin-right: 0.25em;
        }
    </style>
</a>
