---
import styles from "@styles/header.module.css";

const navLinks = {
    "/": "Home",
    "/projects": "Projects",
};
---

<nav class={styles.header}>
    <div class={styles.headerLinks}>
        <div class={styles.headerLinksSeparator}></div>
        {
            Object.entries(navLinks).map(([path, name]) => (
                <a href={path}>{name}</a>
            ))
        }
    </div>
</nav>
